<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.svg" sizes="any" type="image/svg+xml">
    <title>Книга %name%</title>
</head>

<body class="d-flex flex-column gap-3">

    %header%
    <aside>
        <div class="container-xl">
            <div class="row">

                <div class="col-8">
                    <h1>%name%</h1>
                    <h2>%name_translated%</h2>
                </div>
                <div class="col-4">
                    <a href="/edit?id=%id%" class="btn btn-primary float-end">
                        <div class="d-flex flex-column">
                            <div>Редактировать</div>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </aside>
    <main class="container-xl">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                        <h2>Оглавления</h2>
                    </div>
                    %headers%
                </div>
            </div>

            <div class="col-3">
                <img class="rounded" src="/bookimage?id=%id%" width="100%" alt="" srcset="">
                <a href="/read?id=%id%" class="btn btn-primary w-100 my-3">Читать</a>
            </div>
        </div>
    </main>
</body>

</html>